In [1]:
import requests
import pandas as pd
import numpy as np

In [2]:
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'

In [3]:
r = requests.get(url)

In [4]:
json = r.json()

In [5]:
json.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [6]:
elements_df = pd.DataFrame(json['elements'])
elements_types_df = pd.DataFrame(json['element_types'])
teams_df = pd.DataFrame(json['teams'])

In [7]:
elements_df.columns

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'starts', 'expected_goals', 'expected_assists',
       'expected_goal_involvements', 'expected_goals_conceded',
       'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text',
       'expected_goals_per_90', 'saves_per_90', 'expected_assists_per_90',
       'expected_goal_involvements_per_90', 'expected_goals_conceded_per_90',
       'goals_conceded_per_90', 'now_cost_rank', 'now_cost_rank_type',
       'form_rank', 'form_rank_type', 'points_per_game_rank',
       'points_per_game_rank_type', 'selected_rank', 'selected_rank_type',
       'starts_per_90', 'clean_sheets_per_90'],
      dtype='object')

In [8]:
elements_df=elements_df[
    (elements_df['chance_of_playing_next_round'] != 50.00) &
    (elements_df['chance_of_playing_next_round'] != 25.00) &
    (elements_df['chance_of_playing_next_round'] != 0.00)
    & (elements_df['points_per_game']!=0)
]

In [9]:
import matches_played as mp
elements_df['total_points'] = elements_df.total_points.astype(float)
elements_df['points_per_game'] = elements_df.points_per_game.astype(float)
elements_df['matches_played']=mp.matches_played(elements_df['total_points'],elements_df['points_per_game'])
elements_df['matches_played']=elements_df['matches_played'].fillna(0)
elements_df['matches_played'] = elements_df.matches_played.astype(int)
elements_df['expected_goals'] = elements_df.expected_goals.astype(float)
elements_df['expected_assists'] = elements_df.expected_assists.astype(float)
elements_df['expected_goals_conceded'] = elements_df.expected_goals_conceded.astype(float)
elements_df['expected_goals']=elements_df['expected_goals']/elements_df['matches_played']
elements_df['expected_assists']=elements_df['expected_assists']/elements_df['matches_played']
elements_df['expected_goals_conceded']=elements_df['expected_goals_conceded']/elements_df['matches_played']
elements_df['expected_goals']=elements_df['expected_goals'].fillna(0)
elements_df['expected_assists']=elements_df['expected_assists'].fillna(0)
elements_df['expected_goals_conceded']=elements_df['expected_goals_conceded'].fillna(0)
elements_df['expected_goals']=round(elements_df['expected_goals'],2)
elements_df['expected_assists']=round(elements_df['expected_assists'],2)
elements_df['expected_goals_conceded']=round(elements_df['expected_goals_conceded'],2)
elements_df.replace([np.inf, -np.inf], 0, inplace=True)

In [10]:
slim_elements_df = elements_df[['second_name','element_type','selected_by_percent','expected_goals','expected_assists','transfers_in','transfers_out','expected_goals_conceded']]

In [11]:
slim_elements_df['position'] = slim_elements_df.element_type.map(elements_types_df.set_index('id').singular_name)

C:\Users\anasn\AppData\Local\Temp\ipykernel_11468\1773865080.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  slim_elements_df['position'] = slim_elements_df.element_type.map(elements_types_df.set_index('id').singular_name)

In [12]:
slim_elements_df['selected_by_percent'] = slim_elements_df.selected_by_percent.astype(float)

C:\Users\anasn\AppData\Local\Temp\ipykernel_11468\582655378.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  slim_elements_df['selected_by_percent'] = slim_elements_df.selected_by_percent.astype(float)

In [13]:
slim_elements_df['expected_goals'] = slim_elements_df.expected_goals.astype(float)
slim_elements_df['expected_assists'] = slim_elements_df.expected_assists.astype(float)
slim_elements_df['expected_goals_conceded'] = slim_elements_df.expected_goals_conceded.astype(float)

C:\Users\anasn\AppData\Local\Temp\ipykernel_11468\1394108828.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  slim_elements_df['expected_goals'] = slim_elements_df.expected_goals.astype(float)
C:\Users\anasn\AppData\Local\Temp\ipykernel_11468\1394108828.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  slim_elements_df['expected_assists'] = slim_elements_df.expected_assists.astype(float)
C:\Users\anasn\AppData\Local\Temp\ipykernel_11468\1394108828.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  slim_elements_df['expected_goals_conceded'] = slim_elements_df.expected_goals_conceded.astype(float)

In [14]:
fwd_df = slim_elements_df.loc[slim_elements_df.position == 'Forward']
mid_df = slim_elements_df.loc[slim_elements_df.position == 'Midfielder']
def_df = slim_elements_df.loc[slim_elements_df.position == 'Defender']
goal_df = slim_elements_df.loc[slim_elements_df.position == 'Goalkeeper']

In [15]:
gws_dataset=pd.read_csv("merged_gw.csv")

In [16]:
gws_dataset=gws_dataset[['name','position','expected_goals','expected_assists','transfers_in','transfers_out','expected_goals_conceded','total_points']]

In [17]:
gws_dataset['expected_goals_per'] = gws_dataset.expected_goals.astype(float)
gws_dataset['expected_assists'] = gws_dataset.expected_assists.astype(float)
gws_dataset['expected_goals_conceded'] = gws_dataset.expected_goals_conceded.astype(float)
gws_dataset['total_points'] = gws_dataset.total_points.astype(int)

In [18]:
import blank_player
gws_dataset['blank']=gws_dataset['total_points'].apply(blank_player.is_blank)

In [19]:
fwd_gws_dataset= gws_dataset.loc[gws_dataset.position == 'FWD']
mid_gws_dataset= gws_dataset.loc[gws_dataset.position == 'MID']
def_gws_dataset= gws_dataset.loc[gws_dataset.position == 'DEF']
goal_gws_dataset= gws_dataset.loc[gws_dataset.position == 'GK']

In [20]:
fw_X=fwd_gws_dataset.iloc[:,2:6]
fw_Y=fwd_gws_dataset.iloc[:,-1].values

In [21]:
mid_X=mid_gws_dataset.iloc[:,2:7]
mid_Y=mid_gws_dataset.iloc[:,-1].values

In [22]:
def_X=def_gws_dataset.iloc[:,2:7]
def_Y=def_gws_dataset.iloc[:,-1].values

In [23]:
goal_X=goal_gws_dataset.iloc[:,4:7]
goal_Y=goal_gws_dataset.iloc[:,-1].values

In [24]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
fw_X=scaler.fit_transform(fw_X)
mid_X=scaler.fit_transform(mid_X)
def_X=scaler.fit_transform(def_X)
goal_X=scaler.fit_transform(goal_X)

In [25]:
from sklearn.neighbors import KNeighborsClassifier
fw_KNN_classifier=KNeighborsClassifier(n_neighbors=15,metric="minkowski",p=2)
mid_KNN_classifier=KNeighborsClassifier(n_neighbors=13,metric="minkowski",p=2)
def_KNN_classifier=KNeighborsClassifier(n_neighbors=25,metric="minkowski",p=2)
goal_KNN_classifier=KNeighborsClassifier(n_neighbors=15,metric="minkowski",p=2)

In [26]:
fw_KNN_classifier.fit(fw_X,fw_Y)
mid_KNN_classifier.fit(mid_X,mid_Y)
def_KNN_classifier.fit(def_X,def_Y)
goal_KNN_classifier.fit(goal_X,goal_Y)

KNeighborsClassifier(n_neighbors=15)

In [27]:
fw_X_this_season=fwd_df.iloc[:,3:7]
mid_X_this_season=mid_df.iloc[:,3:8]
def_X_this_season=def_df.iloc[:,3:8]
goal_X_this_season=goal_df.iloc[:,5:8]

In [28]:
fw_X_this_season=scaler.fit_transform(fw_X_this_season)
mid_X_this_season=scaler.fit_transform(mid_X_this_season)
def_X_this_season=scaler.fit_transform(def_X_this_season)
goal_X_this_season=scaler.fit_transform(goal_X_this_season)

In [29]:
fw_predicted_blank=fw_KNN_classifier.predict(fw_X_this_season)
mid_predicted_blank=mid_KNN_classifier.predict(mid_X_this_season)
def_predicted_blank=def_KNN_classifier.predict(def_X_this_season)
goal_predicted_blank=goal_KNN_classifier.predict(goal_X_this_season)

In [30]:
fw_names=fwd_df.iloc[:,0]
mid_names=mid_df.iloc[:,0]
def_names=def_df.iloc[:,0]
goal_names=goal_df.iloc[:,0]

In [31]:
fw_predicted_blank_dataset=pd.DataFrame({'Name':fw_names
                 ,'Will_blank':fw_predicted_blank})
fw_predicted_blank_dataset['Will_blank'] = fw_predicted_blank_dataset.Will_blank.astype(int)
fw_predicted_blank_dataset.sort_values('Will_blank',ascending=True).head(10)

        Name  Will_blank
127    Wissa           0
250  Edouard           0
286   Maupay           0
229  Jackson           0
401  Álvarez           0
374   Morris           0
388  Woodrow           1
413  Haaland           1
379   Pepple           1
376   Ogbene           1

In [32]:
mid_predicted_blank_dataset=pd.DataFrame({'Name':mid_names
                 ,'Will_blank':mid_predicted_blank})
mid_predicted_blank_dataset['Will_blank'] = mid_predicted_blank_dataset.Will_blank.astype(int)
mid_predicted_blank_dataset.sort_values('Will_blank',ascending=True).head(10)

                Name  Will_blank
491           Tonali           0
498           Barnes           0
647         Hee-chan           0
351            Salah           0
117           Mbeumo           0
3    Ferreira Vieira           1
422         Phillips           1
423        Hernandez           1
429            Mount           1
432       dos Santos           1

In [33]:
def_predicted_blank_dataset=pd.DataFrame({'Name':def_names
                 ,'Will_blank':def_predicted_blank})
def_predicted_blank_dataset['Will_blank'] = def_predicted_blank_dataset.Will_blank.astype(int)
def_predicted_blank_dataset.sort_values('Will_blank',ascending=True).head(10)

            Name  Will_blank
139    Estupiñán           0
105      Collins           0
112        Henry           0
113       Hickey           0
121      Pinnock           0
245     Andersen           0
460  Wan-Bissaka           0
509         Boly           0
214     Chilwell           0
400          Aké           0

In [34]:
goal_predicted_blank_dataset=pd.DataFrame({'Name':goal_names
                 ,'Will_blank':goal_predicted_blank})
goal_predicted_blank_dataset['Will_blank'] = goal_predicted_blank_dataset.Will_blank.astype(int)
goal_predicted_blank_dataset.sort_values('Will_blank',ascending=True).head(10)

                  Name  Will_blank
658     Malheiro de Sá           0
255          Johnstone           0
110            Flekken           0
383               Shea           1
394           Kaminski           1
398               Krul           1
405             Carson           1
410  Santana de Moraes           1
419      Ortega Moreno           1
425            Steffen           1